.pokemon{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
@import './hero';
@import './header';
@import './auth';
@import './profile';
@import './snow';